
.icon-mail:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-down-open-mini:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-accounting:before { content: '\e829'; } /* '' */
.icon-bell:before { content: '\e82a'; } /* '' */
.icon-dashboard:before { content: '\e82b'; } /* '' */
.icon-export:before { content: '\e82c'; } /* '' */
.icon-faq:before { content: '\e82d'; } /* '' */
.icon-finance-accounting:before { content: '\e82e'; } /* '' */
.icon-news:before { content: '\e82f'; } /* '' */
.icon-offers:before { content: '\e830'; } /* '' */
.icon-reclama:before { content: '\e831'; } /* '' */
.icon-setting-field:before { content: '\e832'; } /* '' */
.icon-settings:before { content: '\e833'; } /* '' */
.icon-teasers:before { content: '\e834'; } /* '' */
.icon-security:before { content: '\e835'; } /* '' */
.icon-user:before { content: '\e836'; } /* '' */
.icon-exit:before { content: '\e837'; } /* '' */
.icon-archive:before { content: '\e838'; } /* '' */
.icon-edit:before { content: '\e839'; } /* '' */
.icon-eye:before { content: '\e83a'; } /* '' */
.icon-grid:before { content: '\e83b'; } /* '' */
.icon-start:before { content: '\e83c'; } /* '' */
.icon-prev:before { content: '\e83d'; } /* '' */
.icon-next:before { content: '\e83e'; } /* '' */
.icon-end:before { content: '\e83f'; } /* '' */
.icon-sort:before { content: '\e840'; } /* '' */
