.filter {
    background: $color-white;
    flex: 0 1 285px;
    cursor: pointer;
    * {
        user-select: none;
    }
    &__item {
        cursor: pointer;
        font-size: 18px;
        line-height: 32px;
        &:not(:first-child) {
            border-top: 1px solid rgba(101,125,149,.15);
        }
        &.js-disabled {
            pointer-events: none;
            cursor: not-allowed;
            background-color: rgba(0,0,0,.05);

            label {
                pointer-events: none !important;
            }
        }
    }
    &__header {
        overflow: hidden;
        padding: 8px 32px 8px 16px;
        cursor: pointer;
        width: 100%;
        font-weight: 500;
        border: 1px solid rgba(83, 120, 251, 0.25);
        border-radius: 4px;
        &--title {
            opacity: .4;
        }
        .icon {
            position: absolute;
            right: -2px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__body {
        position: absolute;
        top: 100%;
        left: -1px;
        width: calc(100% + 2px);
        background: $color-white;
        display: none;
        box-shadow: 0 35px 80px rgba(133, 133, 175, 0.6);
        border-radius: 4px;
        z-index: 5;
    }

    &._opened {
        .filter__header {
            border: 1px solid rgb(83, 120, 251);
        }
        .filter__body {
            display: block;
        }
    }
    input {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
    }

    label {
        display: block;
        width: 100%;
        height: 100%;
        padding: 6px 16px;
        cursor: pointer;
        z-index: 2;
        transition: background-color .2s ease, opacity .2s ease;
        font-size: 18px;
        line-height: 32px;
        opacity: .4;
        &:hover {
            color: $color-white;
            background: #5278FB;
            opacity: 1;
        }
    }

    input:checked + label {
        color: $color-white;
        font-weight: bold;
        background: #5278FB;
        opacity: 1;
    }

    &._opened + .label, &._selected + .label {
        top: -8px;
        left: 10px;
        opacity: 1;
        font-size: 12px;
        line-height: 14px;
        color: $color-blue-light;
    }

    &._selected + .label {
        color: $color-base;
    }
}

@media screen and (max-width: 1200px) {
    .filter {
        &__item {
            font-size: 12px;
            line-height: 14px;
        }

        &__header {
            padding: 10px 25px 10px 0;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

@media screen and (max-width: 576px) {
    .filter {
        flex: 0 0 100%;
    }
}
