table {
    overflow: hidden;
    width: 100%;
    margin: 30px 0;
    border-collapse: inherit;
    border-spacing: 0 8px;

    .link {
        text-decoration: underline;
    }

    th {
        padding: 18px 10px;
        text-align: start;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        cursor: pointer;

        .icon-sort {
            margin-left: 10px;
        }

        &.js-sort {
            .icon-sort {
                color: $color-link;
            }
        }

        &.active {
            width: 200px;
            padding: 6px 25px;
        }
    }

    td {
        text-align: start;
        padding: 6px 10px;
        background-color: $color-white;
        &.table-title {
            width: 290px;
        }
        &.table-image {
            width: 140px;
        }
        &.active {
            width: 200px;
            padding: 6px 25px;
        }
    }

    tbody {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .sort-icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 10px;
        .icon {
            line-height: 5px;
            height: 5px;
            cursor: pointer;
        }
        .icon + .icon {
            margin-top: 1px;
        }
        ._down {
            color: $color-red;
        }

        ._up {
            color: $color-green;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;

        &__item {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.preview {
                color: $color-link;
                font-size: 14px;
            }

            &.edit {
                color: #8080A7;
            }

            &.archive {
                color: #FF3A3A;
            }

            &:hover {
                opacity: .7;
            }
        }

        .icon::before {
            margin: 0;
            width: 100%;
        }
    }

    .category {
        padding: 8px 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        border-radius: 4px;
        color: $color-white;

        &-tag {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &.category-health {
            background-color: $color-green;
        }

        &.category-politics {
            background-color: #78A6FF;
        }

        &.show-business {
            background-color: #B870F0;
        }

        &.category-sport {
            background-color: #FFA800;
        }

        &.category-special {
            background-color: #F07070;
        }
    }

    .empty-text {
        text-align: center;
        color: $color-gray-dark;
        padding: 40px 0;
        background-color: $color-white;
    }
}

@media screen and (max-width: 1200px) {
    table:not(.table-condensed) {
        width: 980px;
    }
}
